<ion-header>
    <ion-toolbar color="tertiary">
        <ion-buttons slot="start">
            <ion-button (click)="back()" slot="icon-only">
                <ion-icon name="arrow-round-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Ingresar</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <div>
        <ion-item text-center>
            <ion-icon name="contact"></ion-icon>
        </ion-item>
    </div>
    <div *ngIf="!load">

        <ion-item>
            <ion-label position="floating">Correo</ion-label>
            <ion-input type="text" [(ngModel)]="email"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input type="password" [(ngModel)]="password"></ion-input>
        </ion-item>
        <br>
        <br>
        <ion-button color="medium" expand="block" (click)="usuario_login()">
            entrar
        </ion-button>


    </div>

    <div vertical="center" text-center *ngIf="load">
        <h3> Cargando... </h3>
        <ion-row vertical="center">

            <ion-col>
                <!--

                    <i color="primary" class="fa fa-sync fa-spin fa-5x"></i>
                    <a href="http://www.gifsanimados.org/cat-perros-202.htm">
                -->
                <img src="assets/img/perro_animado.gif" alt="perro-imagen-animada-0931" />
            </ion-col>
        </ion-row>
    </div>

</ion-content>