.fondo {
    --background: #20A9B2;
    background-attachment: fixed;
}

.card-background-page {
    --background: url('../../../assets/img/fondo_mar.jpg');
    ion-card {
        position: relative;
        text-align: center;
    }
    .card-title {
        position: absolute;
        top: 0;
        font-size: 2.0em;
        width: 90%;
        text-align: center;
        font-weight: bold;
        color: #ffffff;
        text-shadow: 5px 5px 5px #000000;
    }
    .card-subtitle {
        font-size: 1.0em;
        position: absolute;
        top: 52%;
        width: 100%;
        color: #fff;
    }
}

.fondo_tweet {
    --background: #20A9B2;
    background-attachment: fixed;
    --color: #ffffff;
}

.card-background {
    --background: url('../../../assets/img/fondo_mar.jpg');
    --color: #ffffff;
}

.texto {
    --color: #ffffff;
    text-shadow: 5px 5px 5px #000000;
}