<ion-header>
    <ion-toolbar color="tertiary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
        <ion-title>Enterate</ion-title>
    </ion-toolbar>
    <ion-toolbar>

        <ion-segment (ionChange)="change_info($event)">

            <ion-segment-button value="tips">
                <ion-label>Consejos</ion-label>
            </ion-segment-button>
            <ion-segment-button value="policial">
                <ion-label>Codigo policial</ion-label>
            </ion-segment-button>

        </ion-segment>


    </ion-toolbar>
</ion-header>

<ion-content *ngIf="!load">


    <br><br>
    <ion-label text-center>
        <h2 text-center>{{title}}</h2>
    </ion-label>

    <ion-card *ngFor="let info of pet_information;let x=index;">
        <ion-card-header>
            <ion-card-subtitle>
                {{x}}
            </ion-card-subtitle>
            <ion-card-title>
                {{info.titulo}}
            </ion-card-title>
            <ion-card-content>
                <p *ngIf="info.short">
                    {{info.short}}
                </p>
                <p *ngIf="!info.short">
                    {{info.descripcion}}
                </p>
                <br>
                <ion-button (click)="full_view(info)" text-center expand="block">
                    Ver Completo
                </ion-button>
            </ion-card-content>
        </ion-card-header>
    </ion-card>

</ion-content>
<ion-content *ngIf="load">
    <div vertical="center" text-center>
        <h3> Cargando... </h3>
        <ion-row vertical="center">

            <ion-col>
                <!--
        
                            <i color="primary" class="fa fa-sync fa-spin fa-5x"></i>
                        -->
                <a href="http://www.gifsanimados.org/cat-perros-202.htm"><img src="http://www.gifsanimados.org/data/media/202/perro-imagen-animada-0931.gif" alt="perro-imagen-animada-0931" /></a>
            </ion-col>
        </ion-row>
    </div>
</ion-content>