<ion-header>
    <ion-toolbar color="tertiary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
        <ion-title horizontal="center">Usuarios</ion-title>
    </ion-toolbar>
    <ion-toolbar>
        <ion-searchbar (ionChange)="buscar_usuarios($event)" placeholder="Buscar..."></ion-searchbar>
    </ion-toolbar>
</ion-header>

<ion-content padding class="card-background-page">
    <ion-slides pager="true">
        <ion-slide *ngFor="let usuario of vet.users">
            <ion-card class="texto" *ngFor="let pet of usuario.mascotas">
                <img *ngIf="pet.url" [src]="pet.url">
                <ion-card-content text-center>
                    <ion-card-title class="texto">{{pet.pet_name}}</ion-card-title>
                    <h2 color="primary">Padre:{{usuario.name}}-{{usuario.apellido}}

                    </h2>
                    <h3 color="primary">Raza:<small>{{pet.raza}}</small></h3>
                    <ion-row>
                        <ion-col size="10" offset="1">
                            <ion-button (click)="add_event(usuario,pet)" style="--background-activated : red; --padding-start:50px; --padding-end:50px; --border-radius:30px;" fill="outline" size="large">
                                <ion-icon name="add"></ion-icon>
                            </ion-button>
                        </ion-col>

                    </ion-row>


                </ion-card-content>
            </ion-card>

        </ion-slide>
    </ion-slides>
</ion-content>